body {
    padding-top: 0;
    background: #36393f;
    font-family: 'Open Sans', sans-serif !important;
    height: 100%;
}

/* #7289da */

.bold {
    font-weight: 600;
}

.own-nav-tab {
    font-size: 11px;
    border-bottom: unset;
}

.own-nav-tab li {
    border-left: 1px solid #36393f;
    border-right: 1px solid #36393f;
    min-width: 40px;
}

.tab-counter {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #35957e;
    font-size: 18px;
    font-weight: 600;
}

.tab-icon {
    padding: .5em 1em;
    border: 1px solid #434448;
    width: 40px;
}

.tab-input {
    background: #434448;
    border: none;
    text-align: left;
}

    .tab-input:hover {
        background: #35957e;
        transition: all .7s;
    }

.own-nav-tab > li {
    border-right: unset !important;
}

    .own-nav-tab li a:hover {
        border-color: #3a8e7a;
        color: white !important;
        border-radius: 0;
        background: #3a8e7a;
        transition: all .7s;
    }

.own-nav-tab li a {
    color: white;
    margin: 0;
}

.own-nav-tab li.active, .nav-tabs > li.active > a, .nav-tabs > li.active {
    color: white !important;
    font-weight: 600 !important;
    background: #3a8e7a !important;
    border: unset !important;
}

.home-btn {
    padding: .5em 2em;
    background: #7289da;
    font-size: 14px;
}

    .home-btn:hover {
        color: white !important;
        background: #5566a1;
        transition: all .7s;
    }

.home-input {
    color: #999 !important;
}

.no-radius-left {
    border-top-left-radius: 0 !important;
}

.no-radius-left-bottom {
    border-bottom-left-radius: 0 !important;
}


.home-input:focus {
    box-shadow: unset !important;
    border-color: #7289da;
    transition: all .7s;
}

.qa-box {
    background: #434448;
    padding: 2em 0;
    color: #bfbfbf;
    border: 1px solid #2c2c31;
}
.own-select {
    background: transparent !important;
    color: #50d4b5 !important;
    border: none !important;
    padding: 0 1em !important;
    border-radius: 0px !important;
}

    .own-select option {
        background: #26262b;
        border: none;
        outline: unset !important;
        cursor: pointer;
        font-size: 16px;
    }

select.own-select:focus {
    box-shadow: unset !important;
}

.border-bottom {
    border-bottom: 1px solid  #474747;
}

.divid {
    border-color: #474747 !important;
    width: 100%;
}

.h-100 {
    height: 100% !important;
}

.w-100 {
    width: 100%;
}

.ft-50 {
    font-size: 50px;
}

.ft-60 {
    font-size: 60px;
}

.static-select option {
    padding: .25em 0;
}

select.multi-select option:hover,
select.multi-select option:focus,
select.multi-select option:active {
    background: #8e9fdc !important;
}

select.multi-select option:checked {
    background: #8e9fdc !important;
}

.static-select select[multiple]:focus option:checked {
    background: #8e9fdc !important;
}


.text-light {
    color: #f1f1f1 !important;
}

.chart_div text {
    fill: white !important;
}

.chart_div rect, .chart_div svg {
    width: 100% !important;
}

.home-border-bottom {
    border-bottom: 1px solid #36393f;
}

.home-border {
    border: 1px solid #36393f;
}

.data-grid {
    background: #26262b;
    border-radius: 3px;
}

.custom-nav,
.custom-nav li:hover a, .custom-nav li.active {
    border-radius: 25px;
}

.custom-nav {
    padding: .5em 2em;
    background: rgba(255,255,255,.1);
}

.custom-nav li a {
    padding: .25em 1.5em;
    color: white;
}

.custom-nav li:hover a {
    background-color: #302c2c;
    box-shadow: 1px 1px 2px 0px rgba(216,216,216,.1);
    -webkit-box-shadow: 1px 1px 2px 0px rgba(216,216,216,.1);
    transition: all .7s;
}


.custom-nav li.active {
    background: #2f2525;
}

.box-shadow-light {
    box-shadow: 1px 1px 2px 0px rgba(216,216,216,.1);
    -webkit-box-shadow: 1px 1px 2px 0px rgba(216,216,216,.1);
}

.box-shadow {
    -webkit-box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.16), 0 2px 10px 0 rgba(0,0,0,.12);
}

.flex-row {
    flex-direction: row;
}

.flex-column {
    flex-direction: column;
}

.d-flex {
    display: flex;
}

.justify-content {
    justify-content: center;
}

.align-items {
    align-items: center;
}


.align-start {
    align-items: flex-start;
}


.align-end {
    align-items: flex-end;
}

.justify-content-between {
    justify-content: space-between;
}

.justify-content-around {
    justify-content: space-around;
}

.text-uppercase {
    text-transform: uppercase;
}

.justify-content-end {
    justify-content: flex-end;
}

.msg-wrap {
    background: #7584bb4d !important;
    border: 1px solid #7289da !importantwidth: 40px;
    ;
}

.ft-10 {
    font-size: 10px;
}

.ft-11 {
    font-size: 11px;
}

.ft-12 {
    font-size: 12px;
}

.ft-15 {
    font-size: 15px;
}

.ft-16 {
    font-size: 16px;
}

.ft-17 {
    font-size: 17px;
}

.ft-18 {
    font-size: 18px;
}

.ft-20 {
    font-size: 20px;
}

.ft-25 {
    font-size: 25px;
}

.ft-30 {
    font-size: 30px;
}

.ft-40 {
    font-size: 40px;
}

.text-grey {
    color: #7a7a7a;
}

.input-text {
    background: #26262b;
    border: 1px solid #232323;
    font-size: 17px;
    height: 40px;
}

.no-border {
    border: none !important;
}

.m-0 {
    margin: 0 !important;
}

.m-1 {
    margin: .125em  !important;
}

.m-2 {
    margin: .5em !important;
}

.m-3 {
    margin: 1em !important;
}

.m-4 {
    margin: 1.5em !important;
}

.m-5 {
    margin: 3em !important;
}

.mt-0 {
    margin-top: 0 !important;
}

.mt-1 {
    margin-top: .125em !important;
}

.mt-5 {
    margin-top: 3em !important;
}

.mt-2 {
    margin-top: .5em !important;
}

.mt-3 {
    margin-top: 1em !important;
}

.mt-4 {
    margin-top: 1.5em !important;
}

.mb-0 {
    margin-bottom: 0 !important;
}

.mb-1 {
    margin-bottom: .125em !important;
}

.mb-2 {
    margin-bottom: .5em !important;
}

.mb-3 {
    margin-bottom: 1em !important;
}

.mb-4 {
    margin-bottom: 1.5em !important;
}

.mb-5 {
    margin-bottom: 3em !important;
}

.ml-0 {
    margin-left: 0 !important;
}

.ml-1 {
    margin-left: .125em !important
}

.ml-2 {
    margin-left: .5em !important
}
.ml-3 {
    margin-left: 1em !important
}
.ml-4 {
    margin-left: 1.5em !important
}
.ml-5 {
    margin-left: 3em !important
}

.mr-0 {
    margin-right: 0 !important;
}

.mr-1 {
    margin-right: .125em !important;
}

.mr-2 {
    margin-right: .5em !important;
}


.mr-3 {
    margin-right: 1em !important;
}


.mr-4 {
    margin-right: 1.5em !important;
}

.mr-5{
    margin-right: 3em !important;
}

.p-0 {
    padding: 0;
}

.m-0 {
    margin: 0;
}

.p-1 {
    padding: .125em;
}

.p-2 {
    padding: .5em;
}

.p-3 {
    padding: 1em;
}

.p-4 {
    padding: 1.5em;
}

.p-5 {
    padding: 3em;
}

.pl-0 {
    padding-left: 0 !important;
}

.pl-1 {
    padding-left: .125em !important;
}

.pl-2 {
    padding-left: .5em !important;
}

.pl-3 {
    padding-left: 1em !important;
}

.pl-4 {
    padding-left: 1.5em !important;
}

.pl-5 {
    padding-left: 3em !important;
}

.pr-0 {
    padding-right: 0 !important;
}

.pr-1 {
    padding-right: .125em !important;
}

.pr-2 {
    padding-right: .5em !important;
}

.pr-3 {
    padding-right: 1em !important;
}

.pr-4 {
    padding-right: 1.5em !important;
}

.pr-5 {
    padding-right: 3em !important;
}

.pb-0 {
    padding-bottom: 0 !important;
}

.pb-1 {
    padding-bottom: .125em !important;
}

.pb-2 {
    padding-bottom: .5em !important;
}

.pb-3 {
    padding-bottom: 1em !important;
}

.pb-4 {
    padding-bottom: 1.5em !important;
}

.pb-5 {
    padding-bottom: 3em !important;
}

.pt-0 {
    padding-top: 0 !important;
}

.pt-1 {
    padding-top: .125em !important;
}

.pt-2 {
    padding-top: .5em !important;
}

.pt-3 {
    padding-top: 1em !important;
}

.pt-4 {
    padding-top: 1.5em !important;
}

.pt-5 {
    padding-top: 3em !important;
}

.text-white {
    color: white;
}

.bg-transparent {
    background: transparent !important;
}

/* width */
::-webkit-scrollbar {
    width: 10px;

}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #8e9fdc;
}

/* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
        background: #8e9fdc;
    }
